a.navbar-brand{
    font-size: 30px;
}

i.btn-circle {
    position: fixed; /* Фиксированное положение */
    right: 20px; /* Расстояние от правого края окна браузера */
    bottom: 5%; /* Расстояние снизу */
    font-size: 48px;
    height: 48px;
    width: 48px;
    text-align: center;
    color: #fff;
    background-color: #007bff;;
    border-radius: 50%;
}

.errorlist{
    margin-bottom: 0
}

.alert{
    margin-top: 10px;
}

.card{
    margin-top: 20px;

}

.card-body{
    background-color: #F6F6F6;
}

.card-footer{
    background-color: rgba(0,0,0,.0)!important;
    padding: 0.75em 0!important;
}