{% extends 'blogengine/base.html' %}

{% block title %}Reset password{% endblock %}

{% block content %}
  <div class="passwordresetbox">
    <h1>Set a new password</h1>
    <form method="post">
      {% csrf_token %}
      <p>Enter new password</p>
      <input type="password" name="new_password1" placeholder="Enter new password">
      <div class="helptext">
      	<li>Your password can't be too similar to your other personal information.</li>
      	<li>Your password must contain at least 8 characters.</li>
      	<li>Your password can't be a commonly used password.</li>
      	<li>Your password can't be entirely numeric.</li>
      </div>
      <p>Confirm new password</p>
      <input type="password" name="new_password2" placeholder="Confirm new password"><br>
      <input type="submit" value="Change password">
    </form>
  </div>
{% endblock %}