{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/scripts.js' %}"></script>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <a href="{% url 'posts_list' %}" class="brand-logo">Stron blog</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
                <li><a href="#"><i class="material-icons left">person</i>{{user.get_username}}</a></li>
                <li><a href="{% url 'post_create' %}"><i class="material-icons left">add</i>New post</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'registration' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Sign in</a></li>
            {% endif %}
          </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}

<!--     <script>
        //Material Box
        const mb = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(mb, {});
    </script> -->
<!--     <script type="text/javascript" scr="{% static 'js/app.js' %}"></script> -->
 <!--    {% block js %}
        
    {% endblock js %}  --> 
</body>

</html>