<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="auth-button">
        <a href="{% url 'posts_list' %}"><button type="button" class="btn btn-secondary">Главная страница</button></a>
        {% if user.is_authenticated %}
            <p>You're authorized as {{user.get_username}}</p>
            <a href="{% url 'logout' %}"><button type="button" class="btn btn-secondary">Выход</button></a>
        {% else %}
            <a href="{% url 'login' %}"><button type="button" class="btn btn-secondary">Авторизация</button></a>
            <a href="{% url 'registration' %}"><button type="button" class="btn btn-secondary">Регистрация</button></a>
        {% endif %}
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>