{% extends 'blogengine/base.html' %}

{% block title %}Sigh in{% endblock %}

{% block content %}
  <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-1">
              <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                  {{field.label_tag}}
                  {{field}}
                  <small>{{field.help_text}}</small>                  
                </div>
                {% endfor %}
                {% if form.non_field_errors %}
                  <div class="alert alert-danger" role="alert">{{form.non_field_errors}}</div>
                {% endif %}
                <button type="submit" class="btn btn-primary" name="action">Submit</button>
              </form>    
          </div>
      </div>
  </div>
{% endblock %}