{% extends 'blogengine/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="postcreateform">
    <h1>{{title}} {% if title == 'Post edit' %}"{{post.title}}"{% endif %}</h1>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <p>Title</p>
      {{form.title}}
      {{form.title.errors}}
      <p>Post text</p>
      {{form.text}}
      <div id="debug"></div>
      {{form.text.errors}}
      
        {% if post.gallery.all %}
          <p>Images</p>
          <div class="images">
            {% for image_obj in post.gallery.all %}
              <img src="{{image_obj.thumbnail.url}}">
            {% endfor %}
          </div>
        {% endif %}
      
      <br>
      <label for="file">Choose file</label>
      <input name="gallery" class="inputfile" type="file" id="file"
        onchange="fileInputChange(this)" accept="image/*"  multiple/><br>
      <div id="debugIm"></div>
      <input type="submit" value="Загрузить">
    </form>
  </div>
{% endblock %}