{% extends 'blogengine/base.html' %}

{% block title %}{{title}}{% endblock %}

{% block content %}
	<h1 class="post-create-title">{{title}}</h1>
	<form method="POST" class="post-from" enctype="multipart/form-data">
		{% csrf_token %}
		{% for field in form %}
            {{field.label_tag}}
            <div>{{field}}</div>
            <div>{{field.help_text}}</div>
            {% if field.errors%}
                {% for error in field.errors %}
                    <div>{{error}}</div>
                {% endfor %}
            {% endif %}
        {% endfor %}
		{% if post.gallery.all %}
			<div class="edit post-images">
				{% for image_obj in post.gallery.all %}
					<img src="{{ image_obj.thumbnail.url }}">
				{% endfor %}
			</div>
		{% endif %}
		<div class="file-field input-field">
      		<div class="btn">
        		<span>File</span>
        		<input name="gallery" type="file" accept="image/*" multiple>
      		</div>
      		<div class="file-path-wrapper">
        		<input class="file-path validate" type="text" placeholder="Upload one or more files">
      		</div>
    	</div>
		<button class="btn btn-success">Загрузить</button>
	</form>
{% endblock %}