{% extends 'blogengine/base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<!--     <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-1">
              <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                  {{field.label_tag}}
                  {{field}}
                  {% if field.errors %}
                    <div class="alert alert-danger" role="alert">{{field.errors}}</div>      
                  {% endif %}
                  <small>{{field.help_text}}</small>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" name="action">Submit</button>
              </form>    
          </div>
      </div>
  </div>     -->
  <div class="registrationbox">
    <img src="/media/default_images/profile_image/profileimage.jpg" class="avatar">
    <h1>Create account</h1>
    <form action="" method="post">
      {% csrf_token %}
      <p>Username</p>
      {{form.username}}
      <p>E-mail</p>
      {{form.email}}
      <p>Password</p>
      {{form.password1}}
      <p>Re-enter password</p>
      {{form.password2}}

      <input type="submit" name="action" value="Registration">
      <a href="{% url 'login' %}">Do you have an account?</a>
      {% if form.errors %}
        <div class="error">
          {{form.username.errors}}
          {{form.email.errors}}
          {{form.password2.errors}}
        </div>
      {% endif %}
    </form>
  </div>

{% endblock %}

