{% extends 'blogengine/base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <div class="container">
      <div class="row">
          <div class="col-md-8 offset-md-1">
              <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                  {{field.label_tag}}
                  {{field}}
                  {% if field.errors %}
                    <div class="alert alert-danger" role="alert">{{field.errors}}</div>      
                  {% endif %}
                  <small>{{field.help_text}}</small>
                </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary" name="action">Submit</button>
              </form>    
          </div>
      </div>
  </div>    
{% endblock %}